---
// Technologies icon
import HtmlIcon from "../../assets/icons/HtmlIcon.astro";
import CssIcon from "../../assets/icons/CssIcon.astro";
import JavascriptIcon from "../../assets/icons/JavascriptIcon.astro";
import TailwindIcon from "../../assets/icons/TailwindIcon.astro";
import AstroIcon from "../../assets/icons/AstroIcon.astro";
import ReactIcon from "../../assets/icons/ReactIcon.astro";

//Buttons component
import MainLink from "./MainLink.astro";
import SecondaryLink from "./SecondaryLink.astro";

// Card's button icons
import Code from "../../assets/icons/Code.astro";
import View from "../../assets/icons/View.astro";

const { id, img, title, description, technologies, view, code } = Astro.props;
---

<div class="card flex flex-row w-full h-full max-h-full">
  
  <div class="image w-[475px] max-w-[475px] mt-10 aspect-video">
    <img src={img} alt={title} class="w-full h-full rounded-tr-xl" />
  </div>

  <div class="info flex flex-col justify-center items-center w-1/2 gap-7 p-10">
    <h2 class="text-2xl opacity-90">{title}</h2>

    <p class="text-base text-justify max-w-xs opacity-75 text-balance max-h-40">
      {description}
    </p>

    <div class="technologies flex flex-row justify-center items-center gap-5">


      {technologies.html && <HtmlIcon class="technology w-12 h-12 fill-white " />}
      {technologies.javascript && <JavascriptIcon class="technology w-12 h-12 fill-white " />}
      {technologies.react && <ReactIcon class="technology w-12 h-12 fill-white " />}
      {technologies.astro && <AstroIcon class="technology w-12 h-12 fill-white " />}
      {technologies.css && <CssIcon class="technology w-12 h-12 fill-white " />}
      {technologies.tailwind && <TailwindIcon class="technology w-12 h-12 fill-white " />}

    </div>

    <div class="links flex flex-row space-x-4">

      <MainLink text="VIEW" link={view}>
        <View class="size-5" slot="icon"/>
      </MainLink>

     <SecondaryLink text="CODE" link={code}>
        <Code class="size-5" slot="icon">
      </SecondaryLink>
      <!-- <a
        href={view}
        class="main-link hvr-bounce-to-right px-10 py-1 text-xl gap-2"
      >
        <View class="size-5" />
        <span class="text-lg pb-1">VIEW</span>
      </a>

      <a
        href={code}
        class="secondary-link hvr-bounce-to-right2 px-10 text-xl gap-2"
      >
        <Code class="size-5" />
        <span class="text-lg pb-[1.5px]">CODE</span>
      </a> -->
      
    </div>
  </div>
</div>

<style>
  .card {
    background: #101112;
    box-shadow: 0px 4px 100px 0px #000;
  }

  h1,
  h2 {
    font-family: Cera CY Bold;
  }

  .technology:hover {
    fill: var(--accent);
    transition:ease 0.3s;
  }


</style>
